@model Client.Models.User

@{
    ViewData["Title"] = "Register";
}

<form method="post" asp-action="Create">

    <div> <h1>Create New Account</h1></div>

    <div class="mb-3" >
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" type="text" />
    </div>

    <div class="mb-3">
        <label asp-for="Institution"></label>
        <input asp-for="Institution" type="text" />
    </div>

    <div class="mb-3">
        <label asp-for="Email" ></label>
        <input asp-for="Email" type="email" />
        
    </div>

    <div class="mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password"/>
    </div>

     @*<a asp-action="Create" class="btn btn-primary" asp-controller="User" >Create</a>*@
     <button type="submit" class="btn btn-primary" ></button>
    <a asp-action="Index" asp-controller="User">Go back home</a>
</form>



