@model Client.Models.User

@{
    ViewData["Title"] = "Edit";
}

<form method="post" asp-action="EditUser">

    <div> <h1>Edit user information</h1></div>

    <div class="mb-3" >
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" />
    </div>

    <div class="mb-3">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" type="text" />
    </div>

    <div class="mb-3">
        <label asp-for="Institution"></label>
        <input asp-for="Institution" type="text" />
    </div>

    <div class="mb-3">
        <label asp-for="Email" ></label>
        <input asp-for="Email" type="email" />
        
    </div>

@*    <a asp-action="EditUser" class="btn btn-primary" asp-controller="User" >Create</a>*@
    <button type="submit" class="btn btn-primary">Edit</button>
    <a asp-action="Index" asp-controller="User">Go back home</a>
</form>



